* {
    color:whitesmoke;
    font-family: 'Playfair Display', serif;

}

.dashboard {
    background-image: url(./v2osk-1Z2niiBPg5A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(108, 122, 137, 0.4)
}

#header-text {
    font-size: 40px;
}

.main {
    display: flex;
    justify-content: center;
}

.search {
    border: 2px solid black;
    margin: 5px;
}

#city-input {
    color: black;
}

#search-btn {
    color: #FFFFFF;
    background-color: #444D57;
    border: 0;
    border-radius: 2px;
    padding: 1px 20px;
}

.weather-display {

}

.weather-today {
    border: 2px solid black;
    margin: 5px
}

.weather-today-ci {
    display: flex;
    align-items: center;
}

#today-icon {
    margin: 0px 6px;
}

.five-day-display {
    display: flex;

}

.five-day-forecast {
    margin: 5px;
}

h6 {
    font-size: 20px;
}

.forecast-box {
    margin: 5px 10px 5px 0px;
    border: 2px solid black;
    background-color: rgba(108, 122, 137, 0.7);
    padding: 4px;
}
